:root {
    --primary-color: #586069;
    --secondary-color: #f6f6f6;
    --link-color: #757575;
    --border-color: #f6f6f6;
    --muted-color: #545454;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,
var,u,i,center,dl,dt,dd,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video,ul,ol,li { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { 
    font-size: 15px; color: var(--primary-color);; line-height: 1.6; overflow-y: overlay;
    margin: 0;
}

a { color: var(--link-color); text-decoration: none; }
img { max-width: 100%; border: 1px solid var(--border-color); box-sizing: border-box; }
pre { background: var(--border-color) !important; padding: 10px; }
p > code { background: var(--border-color); font-size: 0.8em; padding: 2px 4px; }
.highlight { margin: 0 0 16px; font-size: 0.8em; }
li { list-style-position: inside; }
table { margin: 0 0 16px; border-spacing: 0px; border-collapse: collapse; }
th, td { padding: 5px; border: 1px solid #e1e4e8; }
tr:nth-child(even) { background: var(--secondary-color) }
blockquote { background: #f9f9f9; padding: 10px; border-left: 5px solid #eee; }

.container { max-width: 880px; margin: 0 auto; padding: 10px 50px; box-sizing: border-box; }
.pagination { margin: 20px 0; }

header { 
    display: flex; align-items: center; height: 45px;
    border-bottom: 1px solid var(--border-color); justify-content: space-between;
}

.brand { font-size: 1.3em; font-weight: bolder; color: var(--link-color); }
.menu { display: flex; justify-content: space-between; list-style: none; }
.menu li { margin-left: 20px; }
.menu li a { color: var(--link-color); font-size: 0.9em; }

main { padding-top: 60px; padding-bottom: 50px; min-height: calc(100vh - 90px); }

article { padding: 8px 0; display: flex; flex-direction: column; }

.title { font-size: 1.5em; padding: 20px 0; }
.date { color: var(--link-color); font-size: 0.8em; margin-bottom: 5px; }
.tags a { color: var(--muted-color); font-size: 0.8em; background: var(--secondary-color); padding: 2px 5px; }

.pagenav { display: flex; justify-content: space-between; }
.muted { color: var(--muted-color); font-weight: bold; }
.prev { text-align: left; }
.next { text-align: right; align-items: flex-end; }
#comment { margin-top: auto; padding-top: 30px; }

#content { margin: 16px 0; }
#content h2 { font-size: 1.2em; font-weight: bold; margin: 30px 0 16px; padding-bottom: 5px; border-bottom: 1px solid var(--border-color); }
#content h3 { font-size: 1.1em; font-weight: bold; margin: 24px 0 12px; }
#content > p { margin-bottom: 16px; }
#content a:hover { text-decoration: underline; }

#post { min-height: calc(100vh - 125px); }
#post .title { font-weight: bold; }

#list { margin: 15px 0; }
#list a { color: var(--link-color); }
#list a:hover { text-decoration: none; }
#list .title { font-size: 1.2em; margin: 0 0 5px; padding: 0; font-weight: bold; }
#list .summary { margin: 0 0 5px; }

footer { border-top: 1px solid var(--border-color); }
footer a { font-size: 0.9em; }

#search-results { margin: 20px 0; }
#search-results li { padding: 15px 0; list-style: none; border-top: 1px solid #f6f6f6; }

.terms-tags a { margin-right: 10px }

@media screen and (max-width: 880px) { 
    .container { padding: 10px 30px; } 
}
